body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f9f9f9;
}

h1 {
    text-align: center;
    color: #3d3d3d;
}

.input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.input-container input {
    margin-right: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn {
    padding: 10px 20px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.btn-primary {
    background-color: #c7e796;
    color: #3d3d3d;
}

.btn-secondary {
    background-color: #d4af8f;
    color: #3d3d3d;
}

.btn-export {
    background-color: #e76a63;
    color: white;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
}

table, th, td {
    border: 1px solid #ccc;
    text-align: center;
}

th, td {
    padding: 15px;
}

th {
    background-color: #5a3921;
    color: white;
}

td input[type="text"] {
    width: 100%;
    padding: 5px;
}

.btn-link {
    background-color: #c7e796;
    color: #3d3d3d;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-copy {
    background-color: #e76a63;
    color: white;
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .input-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .input-container input {
        margin-bottom: 10px;
    }

    table {
        font-size: 12px;
    }

    button {
        font-size: 14px;
    }
}
