<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Eventos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
   
</head>
<body>
    <h1>Gestión de Eventos</h1>

    <div class="input-container">
        <label for="uploadFile">Archivo de Excel</label>
        <input type="file" id="uploadFile" accept=".xls,.xlsx" aria-label="Seleccionar archivo de Excel" />
        
        <label for="googleSite">Link de Google Site</label>
        <input type="text" id="googleSite" placeholder="Agrega el link del Google Site" required aria-label="Campo de link de Google Site" />
        
        <button class="btn btn-primary" id="btnUpload" onclick="uploadFile()">Cargar Excel</button>
        <button class="btn btn-secondary"  id="btnClear" onclick="clearList()">Borrar Lista</button>
        <button class="btn btn-export"  id="btnExport" onclick="exportList()" disabled>Exportar</button>
    </div>

    <table id="eventTable">
        <thead>
            <tr>
                <th>Nombres</th>
                <th>Pases</th>
                <th>Frase</th>
                <th>Link de Google Site</th>
                <th>Link de Invitación</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="6" style="text-align:center;">No hay datos disponibles.</td>
            </tr>
        </tbody>
    </table>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="{{ url_for('static', filename='scripts.js') }}" defer></script>

</body>
</html>